body{

  text-align: center;
  background-image: url('boston.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lobster', cursive;
  /*background-position: center;*/
  color: white;
}

 img {
    margin: 10px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 100px;
    } 

.first{
  margin: -10px 0px 0px 0px;
   
}

.second{
  margin: 0px 0px 0px 0px;
   
}

.third{
  margin: -450px -950px 0px 0px;
  
}


.forth{
  margin: -100px 1200px 0px 0px;
}

.fifth{
  margin: -100px 750px -200px 0px;
}

.show-about-me{
  margin: -200px 1250px 0px 0px;
  color: rgba(0,0,0,0.9);
  font-family: 'Merriweather', serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
}

h1{
  
  color: rgba(0, 0, 0, 1);
  font-size: 70px;
}


p{
  color: rgba(0,0,0,0.9);
  font-size: 35px;
  
}

a{
    color: rgba(255, 255, 255, 0.4);
}

.subheading{
    color: rgba(255, 255, 255, 0.4);
    font-size: 60px;
    font-weight:900;
}


