body{
  background-image: url('boston.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-image: center;
  background-attachment: fixed;

  /*text-align: center;*/
  font-family: 'Lobster', cursive;
  /*background-position: center;*/
  color: white;

}
 /*img {
    margin: 10px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 100px;
    } 
  */

#first{
  margin: -91px -14px 120px 372px;
  color: rgba(0, 0, 0, 1);
  font-size: 60px;
}


.tagline{
  
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
}

.my-head{
  width: 142px;
  height: 142px;
  margin: -286px -11px 11px 286px;
  border-radius: 35px;
  
}


.second{
  font-size: 30px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin: -286px -164px 62px 756px;
}

.graf{
  width: 220px;
  height: 220px;
  border-radius: 120px;
  border-style: solid;
  border-color: black;
}


.third{
  margin: 354px 655px -134px 0px;
  font-size: 30px;
  color: white;
  text-align: center;
}

.pigeon{
  width: 220px;
  height: 220px;
  border-radius: 120px;
  border-style: solid;
  border-color: black;

}




.forth{
  margin: -924px 0px 0px 0px;
}



.show-about-me{
  color: rgba(0,0,0,0.9);
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
}

.fifth{
  margin: -359px 0px 0px 800px;
  font-size: 30px;
  border-radius: 100;
}

p{
  text-align: center;
  line-height: 1.5;
}


a{
    color: rgba(255, 255, 255, 0.4);
}

img{
  border-radius: 100px;

}



}

/*.subheading{
    color: blue;
    color: rgba(255, 255, 255, 0.4);
    font-size: 60px;
    font-weight:900;
}
*/
em{
  font-size: 60px;
}

/*.footer {
    font-size: 6;
    color: red;
    margin: -850px 1200px 0px 0px;;
}*/




